{% extends "layout.html" %}

{% block body %}

<h2>Delete Birthday</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Month</th>
      <th>Day</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ name }}</td>
      <td>{{ month }}</td>
      <td>{{ day }}</td>
    </tr>
  </tbody>
</table>

<div class="container">
  <h2>Are you sure that you want to delete this data?</h2>
  <div class="delete-container">
    <form action="{{ url_for('delete_confirm', id=id) }}" method="post">
      <button type="submit">Delete</button>
    </form>
    <form action="/delete/cancel" method="post">
      <button type="submit">Cancel</button>
    </form>
  </div>
</div>

{% endblock %}